@import 'tailwindcss';

@theme {
  --color-primary: #e92727;
  --color-secondary: #F8E8F8;
  --color-border: #DEDEDE;
  --color-console: #838282;
  --color-input: #52AE5F;
  --color-confirm: #14d42a;
  --color-cancel: #F31927;

  --font-display: 'Press Start 2P', cursive;
  --font-body: 'Lato', sans-serif;
}
