@import 'tailwindcss';

@theme {
  --color-primary: #e92727;
  --color-secondary: #F8E8F8;
  --color-border: #DEDEDE;

  --font-display: 'Press Start 2P', cursive;
  --font-body: 'Lato', sans-serif;
}
